<div class="row">
      <div class="sidebar" id="sidebar">
        <span class="toggle" style="float: right;font-size:20px" (click)="toggle()">&#9776;</span>
        <p style="font-size: 25px">{{Name}}</p>
        <div class="user"><img [src]="profilepic">
        <p style="padding-top: 25px;">{{Username}}</p></div>
          <ul>
              <li class="active">
              Home
              </li>
              <li>
              Projects
              </li>
              <li>
              Message
              </li>
              <li>
              Analytics
              </li>
              <li>
              Tasks
              </li>
              <li>
              Calender
              </li>
              <li>
              Layouts
              </li>
              <li>
              Accounts
              </li>
          </ul>
          </div>
</div>
